apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - https://raw.githubusercontent.com/argoproj-labs/argocd-image-updater/v0.12.2/manifests/install.yaml
  - argocd-image-updater-git-creds-sealed.yaml

patchesStrategicMerge:
  - |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: argocd-image-updater-config
    data:
      git.user: argocd-image-updater
      git.email: argocd-image-updater@noreply.github.com
