apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: traefik-cors-headers
  namespace: glasgow-prod
spec:
  headers:
    accessControlAllowCredentials: true
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "PATCH"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "Content-Type"
      - "Authorization"
      - "Accept"
      - "Origin"
      - "X-Requested-With"
    accessControlAllowOriginList:
      - "http://msv2-webapp.192.168.1.20.nip.io"
    accessControlMaxAge: 100
    addVaryHeader: true
