apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - upstream/serving-core.yaml
  - upstream/kourier.yaml

patches:
  - target:
      kind: ConfigMap
      name: config-network
      namespace: knative-serving
    patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: config-network
        namespace: knative-serving
      data:
        ingress-class: "kourier.ingress.networking.knative.dev"
  - path: patch-features.yaml
  - path: patch-autoscaler.yaml
  - path: patch-kourier-service.yaml
